.textos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* outline: dashed 2px red; */
}

.textos > h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0 0 1px;
}

.textos > h2 {
    font-size: 2em;
    margin: 0 0 5px;
}

.textos > h2 > strong {
    font-weight: bold;
}

.textos > h3 {
    font-size: 1.4em;
    white-space: nowrap;
}